body {
	font-size: 12px;
	background-color: #EBEBEB;
}

h3 {
	font-size: 15px;
	text-decoration: underline;
	margin: 0px;
}

.panel-default {
	background-color: #F5F5F5;
}

#modifiers {
	overflow-y: auto;
	font-size:  10px;
	column-count: 4;
	height:  40vh;
	padding-top: 10px;
}

#modifiers div {
	break-inside: avoid;
}

#sortAndSearch *{
	display: block;
	margin: 0 auto;
}

th {
	text-align: center;
}

td {
	text-align: center;
}

.sharpness-bar {
	min-width: 82px;
	max-width: 82px;
	border: 1px solid;
    border-color: black;
    background-color: #bbb;
}

.sharpness-bar .red {
    background-color: #c00c38;
}

.sharpness-bar .orange {
    background-color: #e85018;
}

.sharpness-bar .yellow {
    background-color: #f0c830;
}

.sharpness-bar .green {
    background-color: #58d000;
}

.sharpness-bar .blue {
    background-color: #3068e8;
}

.sharpness-bar .white {
    background-color: #f0f0f0;
}

.sharpness-bar span {
    display: inline-block;
    height: 100%;
    float: left;
}

#sharpnessDiv .col-md-6 {
	padding-bottom: 1vh;
}

#aboutSection {    
	position: fixed;
    bottom: 0;
    width: 100%;
}

select {
	width: 16vh;
}