body {
	font-size: 12px;
	background-color: #EBEBEB;
}

h3 {
	font-size: 15px;
	text-decoration: underline;
	margin: 0px;
}

h1 {
	text-align: center;
}

.center {
     float: none;
     margin-left: auto;
     margin-right: auto;
}

.panel-default {
	background-color: #F5F5F5;
}

#modifiers {
	width: 110vh;
	height: 45vh;
	overflow-y: auto;
	padding-top: 10px;
	margin-bottom: 10px;
}

#sharpnessDiv {
	width: 110vh;
}

#weaponDDPanel {
	width: 30vh;
	margin-bottom: 10px;
}

#buttons {
	text-align:  center;
	margin: auto;
	width: 25%;
}

#sortAndSearch *{
	display: block;
	margin: 0 auto;
}

.table-responsive {
	background-color: #EBEBEB;
	margin: 0;
	border: 0;
	float:  left;
	width: 50%;
	margin-bottom: 40px;
}

.table {
	margin: 0px;
}

th {
	text-align: center;
}

td {
	text-align: center;
}

.sharpness-bar {
	min-width: 82px;
	max-width: 82px;
	border: 1px solid;
    border-color: black;
    background-color: #bbb;
}

.sharpness-bar .red {
    background-color: #c00c38;
}

.sharpness-bar .orange {
    background-color: #e85018;
}

.sharpness-bar .yellow {
    background-color: #f0c830;
}

.sharpness-bar .green {
    background-color: #58d000;
}

.sharpness-bar .blue {
    background-color: #3068e8;
}

.sharpness-bar .white {
    background-color: #f0f0f0;
}

.sharpness-bar span {
    display: inline-block;
    height: 100%;
    float: left;
}

#sharpnessDiv .col-md-6 {
	padding-bottom: 1vh;
}

#aboutSection {    
	position: fixed;
    bottom: 0;
    width: 100%;
}

select {
	width: 16vh;
}

.center-check {
	display:  inline-block;
	width: 50%;
	margin:  0 auto;
}