<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>MHGen Damage Calculator</title>
    <meta name="description" content="" />
    <meta name="author" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" Href="/css/style.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body>
	<div id = "weaponDiv" class="container-fluid">
		<div>
			<div id = "type-dd" class="col-md-4"></div>
			<div id = "weapon-dd" class="col-md-4"></div>
		    <div id = "level-dd" class="col-md-4"></div>
	    </div>
    </div>
    <div id = "weapon-info"></div>
    <div id = "modifiers" class="container-fluid"></div>
    <div id = "buttons">
        <button id = "compareClass">Compare Weapon Class</button>
    </div>
    <div id = "displayTable"></div>
    <script type="text/template" id="weapon-type-template">
    	<select id="weapon-type-select">
    		<option value = "0"></option>
    		<% _.each(weaponTypes, function(type) { %>
    		<option value= "<%= type.id %>"><%= type.name %></option>
    		<% }); %>
    	</select>
    </script>
    <script type="text/template" id="weapon-template">
    	<select id="weapon-select">
    		<option value = "0"></option>
    		<% _.each(weapons, function(weapon) { %>
    		<option value= "<%= weapon.id %>"><%= weapon.strings[0].name %></option>
    		<% }); %>
    	</select>
    </script>
    <script type="text/template" id="weapon-level-template">
        <select id="weapon-level-select">
            <option value="0"></option>
            <% _.each(levels, function(level) { %>
            <option value= "<%= level.id %>">Level <%= level.level %></option>
            <% }); %>
        </select>
    </script>
    <script type="text/template" id="modifier-template">
        <input type="checkbox" class="group<%= groupName %>CB" name="Group <%= groupName %>" value="<%= modifier %>"><%= name %> 
    </script>
    <script type="text/template" id="table-template">
        <input class="search" placeholder="Search" />
        <button class="sort" data-sort="calcAttack">Sort by Attack</button>
        <table class="table-condensed">
            <tr>
                <th>Name</th>
                <th>Attack</th>
                <th>Affinity</th>
                <th>Calculated Attack</th>
                <th>Element</th>
            </tr>
            <tbody class="list">
            <% _.each(weaponInfo, function(weapon) { %>
            <tr>
                <td class="name"><%= weapon.weaponName %></td>
                <td class="attack"><%= weapon.attack %></td>
                <td class="affinity"><%= weapon.affinity %></td>
                <td class="calcAttack"><%= weapon.calcAttack %></td>
                <td class="element">
                <% _.each(weapon.element, function(subElement) { %>
                <%= subElement.value %> <%= subElement.elementName %><br>
                <% }); %>
                </td>
            </tr>
            <% }); %>
            </tbody>
        </table>
    </script>
    <script type="text/template" id="weapon-info-template">
    	Attack: <%= attack %>
    	Affinity: <%= affinity %>%
    </script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.0/backbone-min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/backbone.marionette/2.5.6/backbone.marionette.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.2.0/list.min.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
</body>

</html>
