<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title></title>
    <meta name="description" content="" />
    <meta name="author" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
	<div id = "type-dd"></div>
	<div id = "weapon-dd"></div>
    <div id = "level-dd"></div>
    <script type="text/template" id="weapon-type-template">
    	<select id="weapon-type-select">
    		<option value = "0"></option>
    		<% _.each(weaponTypes, function(type) { %>
    		<option value= "<%= type.id %>"><%= type.name %></option>
    		<% }); %>
    	</select>
    </script>
    <script type="text/template" id="weapon-template">
    	<select id="weapon-select">
    		<option value = "0"></option>
    		<% _.each(weapons, function(weapon) { %>
    		<option value= "<%= weapon.id %>"><%= weapon.strings[0].name %></option>
    		<% }); %>
    	</select>
    </script>
    <script type="text/template" id="weapon-level-template">
        <select id="weapon-level-select">
            <option value="0"></option>
            <% _.each(levels, function(level) { %>
            <option value= "<%= level.id %>">Level <%= level.level %></option>
            <% }); %>
        </select>
    </script>
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.0/backbone-min.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
</body>

</html>
