<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>MHGen Damage Calculator</title>
    <meta name="description" content="" />
    <meta name="author" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" Href="css/style.css">
    <meta name="description" content="A weapon damage calculator for Monster Hunter Generations">
</head>
<body>
	<h1>MHGen Damage Calculator</h1>
    
	<div id = "weaponDDPanel" class="panel panel-default center">
		<div id = "weaponDiv" class="row">
			<div id = "type-dd" class="col-md-12 center-block"></div>
			<div data-toggle="tooltip" title="" id = "weapon-dd" class="col-md-12"><span id = "loadingText" class="center-block"></span></div>
		    <div data-toggle="tooltip" title="" id = "level-dd" class="col-md-12"></div>
	    </div>		
    </div>	
    <div id = "weapon-info"></div>
    <div id = "modifiers" class="panel panel-default center container-fluid"></div>
    <div id = "sharpnessDiv" class = "panel panel-default container-fluid">
    	<div class = "row">
		    <div id = "sharpness-picker" class = "col-md-6">
		    	<h3>Sharpness +</h3>
		        <input type="radio" name="sharpnessRB" value="0">Sharpness +0
		        <input type="radio" name="sharpnessRB" value="1">Sharpness +1
		        <input type="radio" name="sharpnessRB" value="2">Sharpness +2
		    </div>
		    <div data-toggle = "tooltip" title="Minimum sharpness you will allow a weapon to reach before sharpening" id = "minimum-sharpness" class = "col-md-6">
		    	<h3>Minimum Sharpness</h3>
		    	<input type="radio" name="minimumsharpnessRB" value="0">Red
		    	<input type="radio" name="minimumsharpnessRB" value="1">Orange
		    	<input type="radio" name="minimumsharpnessRB" value="2">Yellow
		    	<input type="radio" name="minimumsharpnessRB" value="3">Green
		    	<input type="radio" name="minimumsharpnessRB" value="4">Blue
		    	<input type="radio" name="minimumsharpnessRB" value="5">White
		    	<div id="sharpness-warning"></div>
		    </div>
	    </div>
	    <div class = "row">
	    	<div id = "crit-boost" class = "col-md-6" data-toggle = "tooltip" title = "Crit damage increased from 1.25 to 1.4">
	    		<h3>Crit Boost</h3>
	    		<input type="radio" name="critBoostRB" value="true">On
	    		<input type="radio" name="critBoostRB" value="false">Off
	    	</div>
	    	<div id = "blunt" class = "col-md-6" data-toggle = "tooltip" title = "+15 raw damage when in green sharpness, +25 when in yellow, +30 when in orange/red">
                <h3>Bludgeoner</h3>
                <input type="radio" name="bluntRB" value="true">On
                <input type="radio" name="bluntRB" value="false">Off
            </div>
	    </div>
    </div>
    <div id = "buttons">
        <button id = "compareClass" class="center-block">Compare!</button>
        <div class = "center-check">
            <input type="checkbox" value="maxLevelOnly"><span>Max Level Weapons Only</span>
        </div>
            
    </div>
    <div id = "displayTable" class = "panel table-responsive">
        <input class="center-block searchBox" data-type="search" placeholder="Search...">
        <h3 class="text-center">Current Table</h3>
        <table id= "calcedTable" class="table table-condensed tablesorter" data-toggle = "tooltip" title = "Click on a row to save it.">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Attack</th>
                    <th>Affinity</th>
                    <th>Calculated Attack</th>
                    <th>Element</th>
                    <th>Sharpness</th>
                    <th>Phial</th>
                </tr>
            </thead>
            <tbody id="calc-weapon-table" class="weapon-table">
            </tbody>
        </table>
    </div>
    <div id = "savedTableDiv" class = "panel table-responsive">
        <input class="center-block searchBox" data-type="search" placeholder="Search...">
        <h3 class="text-center">Saved Weapons</h3>
        <table id= "savedTable" class="table table-condensed tablesorter" data-toggle = "tooltip" title = "Click on a row to remove it.">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Attack</th>
                    <th>Affinity</th>
                    <th>Calculated Attack</th>
                    <th>Element</th>
                    <th>Sharpness</th>
                    <th>Phial</th>
                </tr>
            </thead>
            <tbody id="saved-weapon-table" class="weapon-table">
            </tbody>
        </table>
    </div>
    <div id = "aboutSection">
    	<span>Calculator by Trog(g).</span>	<a href="https://github.com/TrentWest7190/mhcalc-backbone">GitHub</a>
        <button id="about-button" type="button" class="btn btn-info" data-toggle="modal" data-target="#about-modal">About</button>
    </div>
    <div id="about-modal" class="modal fade" role="dialog">
        <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">About</h4>
          </div>
          <div class="modal-body">
            <h1>Monster Hunter Generations Calculator</h1>

            <p class="text-center">Monster Hunter Generations weapon damage calculator in the backbone framework.</p>

            <h1>How To Use</h1>

            <p class="text-center">Select a weapon class, select modifiers, and hit calculate!</p>

            <h2>Minimum Sharpness</h2>

            <ul>
            <li>This refers to the minimum sharpness that you'll allow a weapon to reach, before sharpening</li>
            <li>For instance, if set to "Green", the calculation will expect you to sharpen when your weapon reaches yellow sharpness</li>
            <li>If the weapon's maximum sharpness is less than the selected sharpness, the calculator will assume you to sharpen the weapon as soon as it reaches the next lowest sharpness. I.E, If "Blue" is selected, but the maximum sharpness only goes up to green, it will expect you to sharpen at yellow</li>
            <li>If nothing is selected, it defaults to "White"</li>
            </ul>

            <h1>What's new?</h1>

            <h2>V 2.01</h2>
            <ul>
                <li>Added this about panel</li>
                <li>Added a search bar to each table</li>
                <li>Made the individual weapon and level dropdowns actually work</li>
            </ul>

            <h2>V 2.0</h2>

            <ul>
            <li>There's now a second table where you can save weapons/armor setups</li>
            <ul>
            <li>Just click on a configuration to save it to the second table</li>
            <li>Mousing over a saved configuration will display the modifiers active when it was added to the table</li>
            </ul>
            <li>More CSS changes. Site is now /less/ better looking on mobile. (Sorry)</li>
            </ul>

            <h2>V 1.01</h2>

            <ul>
            <li>Switch Axes now take power phial into account. (Because why would you use any other phial type)</li>
            <li>Couple of CSS changes. Site should be very very slightly better looking on mobile.</li>
            </ul>

            <h1>To-do</h1>

            <ul>
            <li>Add the ability to save weapon tables locally</li>
            <li>Make the table update automatically when you change modifiers</li>
            <li>Finish up missing modifiers (Blunt edge, Razor sharp, others)</li>
            <li>Compare weapons against a specific monster</li>
            <li>Take Hunter Arts into account</li>
            <li>Create the ability to export armor configurations to Athena's Armor Search</li>
            <li>Take motion values into account</li>
            <li>Gunner stuff maybe?</li>
            </ul>

            <h2>Credits</h2>

            <p>All weapon data is pulled straight from <a href="http://mhgen.kiranico.com/">kiranico.</a></p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    <script type="text/template" id="weapon-type-template">
        <select id="weapon-type-select" class="center-block" data-toggle="tooltip" title="Weapon Class. Required." data-placement="left">
    		<option value = "0"></option>
    		<% _.each(weaponTypes, function(type) { %>
    		<option value= "<%= type.id %>"><%= type.name %></option>
    		<% }); %>
    	</select>
    </script>
    <script type="text/template" id="weapon-template">
    	<select id="weapon-select" class='center-block' data-toggle="tooltip" title="Individual Weapon. Leave Blank To Calculate Entire Weapon Class" data-placement="left">
    		<option value = "0"></option>
    		<% _.each(weapons, function(weapon) { %>
    		<option value= "<%= weapon.id %>"><%= weapon.strings[0].name %></option>
    		<% }); %>
    	</select>
    </script>
    <script type="text/template" id="weapon-level-template">
        <select id="weapon-level-select" class='center-block'>
            <option value="0"></option>
            <% _.each(levels, function(level) { %>
            <option value= "<%= level.id %>">Level <%= level.level %></option>
            <% }); %>
        </select>
    </script>
    <script type="text/template" id="modifier-template">
        <input type="checkbox" class="group<%= groupName %>CB" name="Group <%= groupName %>" value="<%= modifier %>"><span data-toggle="tooltip" title="Attack +<%= modifier[0] %>, Affinity +<%= modifier[1] %><% if (modifier[2]) { %>, Attack x<%= modifier[2] %><% } %>"><%= name %></span>

    </script>
    <script type="text/template" id="calc-weapon-row-template">
        <td class="name"><%= weapon.weaponName %></td>
        <td class="attack"><%= weapon.attack %></td>
        <td class="affinity"><%= weapon.affinity %></td>
        <td class="calcAttack"><%= weapon.calcAttack %></td>
        <td class="element">
        <% _.each(weapon.element, function(subElement) { %>
        <%= subElement.value %> <%= subElement.elementName %><br>
        <% }); %>
        </td>
        <td><%= weapon.sharpnessBar %></td>
        <td>
        <% if (weapon.phial) { %>
        <% if (weapon.phial.value > 0) { %>
        <%= weapon.phial.value %><% } %> <%= weapon.phial.type %>
        <% } %>
        </td>
    </script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.0/backbone-min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/backbone.marionette/2.5.6/backbone.marionette.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="//cdn.jsdelivr.net/bignumber.js/1.3.0/bignumber.min.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-77293857-2', 'auto');
  ga('send', 'pageview');

</script>
</body>

</html>
